body { 
    background: #ECEFF1; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
  }
  #hero, #logging {
    width: 460px;text-align: center;
    position: absolute;
    left: calc(50vw - 230px);
  }
  #hero {
    top: 0px;
  }
  #logging {
    top: 150px;
  }

  #playChoice { 
    position: absolute;
    top: 150px;
    left: calc(50vw - 180px);
    background: #ffffff; 
    width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    border-radius: 3px; 
    z-index: 5;
  }
  #playChoice h2 { 
    color: #ffa100; 
    font-weight: bold; 
    font-size: 16px; 
    margin: 0 0 8px; 
  }
  #playChoice { 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
  }
  #playField, #lost {
    position: absolute;
    top: 360px;
    width:400px;
    left: calc(50vw - 200px);
  }
  #resultField {
    position: absolute;
    top: 520px;
    width:400px;
    left: calc(50vw - 200px);
  }
  #challenge, #guessedLetters {
    font-size: 22px;
  }
  #challenge p, #guessedLetters p {
    position: relative;
    font-size: 24px;
    margin-left: 12px;
  }
  #letter {
    width:25px;
  }
  @media (max-width: 600px) {
    body, #playChoice { 
      margin-top: 0; 
      background: #ffffff; 
      box-shadow: none; 
    }
    body { 
      border-top: 16px solid #ffa100; 
    }
  }